* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-image: url("bookshelf-large.webp");
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    height: 100vh;
    align-items: center;
}

.books {
    flex: 1;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    color: #fdf0d5;

    background: rgba(120, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(120, 0, 0, 0.275);

    border-radius: 4vw/4vw;
}

.books label {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;

}

.books input {

    padding: 1px 8px;
    -webkit-box-shadow: 0 0 7.5px 0.5px #003049;
    -moz-box-shadow: 0 0 7.5px 0.5px #003049;
    box-shadow: 0 0 7.5px 0.5px #003049;
    border: 0;
    font-size: 1.1rem;
    background-color: #FDF0D5;
    color: #003049;
    font-weight: bold;

}

input:focus {
    background-color: #93c5e3;

}

.books>* {
    margin-top: 10px;
}

.books button {
    margin-top: 50px;
    padding: 5px 40px;
    align-self: center;
    background-color: #003049;
    color: #669BBC;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4vw/4vw;
    border: 0px;

    -webkit-box-shadow: 0 0 16.5px 8px #780000;
    -moz-box-shadow: 0 0 16.5px 8px #780000;
    box-shadow: 0 0 16.5px 8px #780000;

    border: 1px solid #780000;

}



.booksList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    flex: 1;
    width: 100%;
    margin: 20px;

    background: rgba(120, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(120, 0, 0, 0.275);
    overflow: scroll;

    border-radius: 4vw/4vw;

}

.listeTitle {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #669BBC;
    padding: 10px 40px;
    background: rgba(120, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(120, 0, 0, 0.275);

    border-radius: 4vw/4vw;

}

.card {
    border-radius: 4vw/4vw;
    background-color: #FDF0D5;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas: "title delete" "author author" "pages pages";


    -webkit-box-shadow: 0 0 7.5px 0.5px #003049;
    -moz-box-shadow: 0 0 7.5px 0.5px #003049;
    box-shadow: 0 0 7.5px 0.5px #003049;
    border: 0;

}

.title {
    grid-area: title;
}

.author {
    grid-area: author;
}

.pages {
    grid-area: pages;
}

.card>div {
    color: #003049;
    font-weight: 550;
    margin-top: 5px;
    font-size: 1.2rem;
}

.deleteButton {
    grid-area: delete;
    width: fit-content;
    padding: 5px;
    font-weight: bolder;
    font-size: 1.1rem;
    border-radius: 50%;
    background-color: #003049;
    color: #669BBC;
    border: 0;

}



@media only screen and (max-width: 700px) {
    .center {
        max-width: 90vw;
    }
}