* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("bookshelf-large.webp");
}

/* .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    height: 100vh;
    align-items: center;
} */

.books {
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
    color: #fdf0d5;

    background: rgba(120, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(120, 0, 0, 0.275);

    border-radius: 1rem/1rem;
}

.books label {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;

}

.books input {

    padding: 1px 8px;
    -webkit-box-shadow: 0 0 7.5px 0.5px #003049;
    -moz-box-shadow: 0 0 7.5px 0.5px #003049;
    box-shadow: 0 0 7.5px 0.5px #003049;
    border: 0;
    font-size: 1.1rem;
    background-color: #FDF0D5;
    color: #003049;
    font-weight: bold;

}

input:focus {
    background-color: #93c5e3;

}

.books>* {
    margin-top: 10px;
}

.books button {
    margin-top: 15px;
    padding: 5px 40px;
    align-self: center;
    background-color: #003049;
    color: #669BBC;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem/1rem;
    border: 0px;

    -webkit-box-shadow: 0 0 16.5px 8px #780000;
    -moz-box-shadow: 0 0 16.5px 8px #780000;
    box-shadow: 0 0 16.5px 8px #780000;

    border: 1px solid #780000;

}



.booksList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
    width: 70vw;
    

    background: rgba(120, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(120, 0, 0, 0.275);
    overflow: scroll;

    border-radius: 1rem/1rem;

}

.listeTitle {
    width: fit-content;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #669BBC;
    padding: 10px 40px;
    background: rgba(120, 0, 0, 0.55);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(120, 0, 0, 0.275);

    border-radius: 4vw/4vw;

}

.card {
    border-radius: 1rem/1rem;
    background-color: #FDF0D5;
    padding: 20px;
    display: grid;

    grid-template-columns: minmax(0, 1fr) min-content;
    grid-template-areas: "title delete" "author ." "pages status";


    -webkit-box-shadow: 0 0 7.5px 0.5px #003049;
    -moz-box-shadow: 0 0 7.5px 0.5px #003049;
    box-shadow: 0 0 7.5px 0.5px #003049;
    border: 0;

}

.title {

    grid-area: title;
    border-bottom: 1px solid #780000;

}

.author {
    grid-area: author;
    border-bottom: 1px solid #780000;
}

.pages {
    grid-area: pages;
    border-bottom: 1px solid #780000;
}

.checkContainer {
    grid-area: status;

    display: block;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    font-size: 25px;


}

.checkContainer input {
    visibility: hidden;
    cursor: pointer;
}

.mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #780000;


}


.checkContainer input:checked~.mark {
    background-color: #669BBC;
}

.mark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkContainer input:checked~.mark:after {
    display: block;
}

.checkContainer .mark:after {

    left: 13px;
    top: -12px;
    width: 10px;
    height: 30px;
    border: solid #003049;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

.formCheck {
    display: flex;
    justify-content: center;
}

.formCheck .mark {
    top: 0px;
    left: 40%;
    background-color: #FDF0D5;
}

.card>div {
    color: #003049;
    font-weight: 550;
    margin-top: 5px;
    font-size: 1.2rem;
    overflow-wrap: break-word;
}

.deleteButton {
    margin-left: 10px;
    grid-area: delete;
    width: fit-content;
    height: fit-content;
    padding: 5px 8px;
    font-weight: bolder;
    font-size: 1.1rem;
    border-radius: 50%;
    background-color: #003049;
    color: #669BBC;
    border: 0;

}



@media only screen and (max-width: 700px) {
    .booksList {
        width: 90vw;
    }

}